<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated CIAT -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="ciat.presentation.CiatModelWizardID"
            name="%_UI_CiatModelWizard_label"
            class="ciat.presentation.CiatModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CiatModelFile.gif">
         <description>%_UI_CiatModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated CIAT -->
      <editor
            id="ciat.presentation.CiatEditorID"
            name="%_UI_CiatEditor_label"
            icon="icons/full/obj16/CiatModelFile.gif"
            extensions="ciat"
            class="ciat.presentation.CiatEditor"
            contributorClass="ciat.presentation.CiatActionBarContributor">
      </editor>
   </extension>

</plugin>
